@font-face {
  font-family: 'InstrumentSans';
  src: local('InstrumentSans'), url(../../assets/InstrumentSans.ttf) format('truetype');
}
nav{
    background-color: #C98CDB;
    font-family: InstrumentSans;
    font-size: large;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; 
}
a{
  color: #4D2359;
  text-decoration: none;
} 
table{
  padding: 1rem;
  margin: auto;
}
th{
  padding: 1rem;
}
img{
  float: left;  
  width: 6rem;
}