@font-face {
  font-family: 'IosevkaCharonB';
  src: url('IosevkaCharonB'), url(./assets/IosevkaCharonB.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background-color: #C5D9D1;
} 
main{
  font-family: IosevkaCharonB;
  color: #235944;
  text-align: center;
}